{
  "parser": "babel-eslint",
  "rules": {
    "no-else-return": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/no-access-state-in-setstate": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "extends": ["airbnb", "prettier"]
}
